In [1]:
money = True
if money:
    print("택시를")
    print("타고")
        print("가라")

IndentationError: unexpected indent (73570325.py, line 5)

In [2]:
# 주민등록번호를 입력받아서 성별을 체크하고 출력합니다.
1,3 - 남자 , 2,4 - 여자

In [6]:
jumin = input('주민등록번호(000101-3123456) >>>')
if jumin[7] in ['1','3']:print('남자')
elif jumin[7] in ['2','4']:print('여자')
else:
    print('오류')

주민등록번호(000101-3123456) >>> 11111111111111

남자

In [15]:
score = input('점수를 입력 >>>')

if score.isdigit():
    message = 'success' if int(score) >= 60 else 'failure'
    print(message)
else:
    print('숫자를 입력하세요')

점수를 입력 >>> 45

failure

In [17]:
score = ''
while not score.isdigit():
    print('숫자로 입력하세요')
    score = input('점수를 입력 >>>')
message = 'success' if int(score) >= 60 else 'failure'
print(message)

숫자로 입력하세요

점수를 입력 >>> ㅗㅗ

숫자로 입력하세요

점수를 입력 >>> 67

success

In [18]:
coffee = 10
while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
    print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

돈을 넣어 주세요:  300

커피를 줍니다.
남은 커피의 양은 9개 입니다.

돈을 넣어 주세요:  500

거스름돈 200를 주고 커피를 줍니다.
남은 커피의 양은 8개 입니다.

돈을 넣어 주세요:  200

돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 8개 입니다.

돈을 넣어 주세요:  1000

거스름돈 700를 주고 커피를 줍니다.
남은 커피의 양은 7개 입니다.

돈을 넣어 주세요:  1000

거스름돈 700를 주고 커피를 줍니다.
남은 커피의 양은 6개 입니다.

돈을 넣어 주세요:  1000

거스름돈 700를 주고 커피를 줍니다.
남은 커피의 양은 5개 입니다.

돈을 넣어 주세요:  1000

거스름돈 700를 주고 커피를 줍니다.
남은 커피의 양은 4개 입니다.

돈을 넣어 주세요:  1000

거스름돈 700를 주고 커피를 줍니다.
남은 커피의 양은 3개 입니다.

돈을 넣어 주세요:  1000

거스름돈 700를 주고 커피를 줍니다.
남은 커피의 양은 2개 입니다.

돈을 넣어 주세요:  1000

거스름돈 700를 주고 커피를 줍니다.
남은 커피의 양은 1개 입니다.

돈을 넣어 주세요:  1111

거스름돈 811를 주고 커피를 줍니다.
남은 커피의 양은 0개 입니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

In [19]:
range(1,10)

range(1, 10)

In [22]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [21]:
data = [1,3,6,8,3,9]
for i in data:
    print(i)

1
3
6
8
3
9

In [ ]:
# 
     2단
--------------
  2 * 1  = 2
  2 * 2  = 4

     3단
--------------
  3 * 1  = 3
  3 * 2  = 6


#
  2 * 1  = 2    3 * 1  = 3
  2 * 2  = 4    3 * 2  = 6

In [25]:
for i in range(2,10):
    print()
    print(f'{i:^12}')
    print('-'*15)
    for j in range(1,10):
        print(f' {i} * {j} = {i*j:2}')

     2
---------------
 2 * 1 =  2
 2 * 2 =  4
 2 * 3 =  6
 2 * 4 =  8
 2 * 5 = 10
 2 * 6 = 12
 2 * 7 = 14
 2 * 8 = 16
 2 * 9 = 18

     3
---------------
 3 * 1 =  3
 3 * 2 =  6
 3 * 3 =  9
 3 * 4 = 12
 3 * 5 = 15
 3 * 6 = 18
 3 * 7 = 21
 3 * 8 = 24
 3 * 9 = 27

     4
---------------
 4 * 1 =  4
 4 * 2 =  8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 4 * 8 = 32
 4 * 9 = 36

     5
---------------
 5 * 1 =  5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45

     6
---------------
 6 * 1 =  6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54

     7
---------------
 7 * 1 =  7
 7 * 2 = 14
 7 * 3 = 21
 7 * 4 = 28
 7 * 5 = 35
 7 * 6 = 42
 7 * 7 = 49
 7 * 8 = 56
 7 * 9 = 63

     8
---------------
 8 * 1 =  8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72

     9
---------------
 9 * 1 =  9
 9 * 2 = 18
 9 * 3 = 27
 9 * 4 = 36
 9 * 5 = 45
 9 * 6 = 54
 9 * 7 = 63
 9 * 8 = 72
 9 * 9 = 81

In [29]:
for i in range(1,10):
    for j in range(2,10):
        print(f' {j} * {i} = {i*j:2}',end='  ')  
    print()

 2 * 1 =  2   3 * 1 =  3   4 * 1 =  4   5 * 1 =  5   6 * 1 =  6   7 * 1 =  7   8 * 1 =  8   9 * 1 =  9
 2 * 2 =  4   3 * 2 =  6   4 * 2 =  8   5 * 2 = 10   6 * 2 = 12   7 * 2 = 14   8 * 2 = 16   9 * 2 = 18
 2 * 3 =  6   3 * 3 =  9   4 * 3 = 12   5 * 3 = 15   6 * 3 = 18   7 * 3 = 21   8 * 3 = 24   9 * 3 = 27
 2 * 4 =  8   3 * 4 = 12   4 * 4 = 16   5 * 4 = 20   6 * 4 = 24   7 * 4 = 28   8 * 4 = 32   9 * 4 = 36
 2 * 5 = 10   3 * 5 = 15   4 * 5 = 20   5 * 5 = 25   6 * 5 = 30   7 * 5 = 35   8 * 5 = 40   9 * 5 = 45
 2 * 6 = 12   3 * 6 = 18   4 * 6 = 24   5 * 6 = 30   6 * 6 = 36   7 * 6 = 42   8 * 6 = 48   9 * 6 = 54
 2 * 7 = 14   3 * 7 = 21   4 * 7 = 28   5 * 7 = 35   6 * 7 = 42   7 * 7 = 49   8 * 7 = 56   9 * 7 = 63
 2 * 8 = 16   3 * 8 = 24   4 * 8 = 32   5 * 8 = 40   6 * 8 = 48   7 * 8 = 56   8 * 8 = 64   9 * 8 = 72
 2 * 9 = 18   3 * 9 = 27   4 * 9 = 36   5 * 9 = 45   6 * 9 = 54   7 * 9 = 63   8 * 9 = 72   9 * 9 = 81